# ref: https://github.com/jessfraz/dotfiles/blob/master/.gitconfig

# delta: https://github.com/dandavison/delta
# see this for installation: https://dandavison.github.io/delta/installation.html

[user]
	name = Sam
	email = sambe247@gmail.com
	signingkey = ~/.ssh/id_rsa

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true

[merge]
	tool = meld

[diff]
	colorMoved = default

[gpg]
	format = ssh

[commit]
	gpgsign = true

# always connect via ssh
# TODO: also add substitutions for GitLab
[url "git@github.com:github"]
	insteadOf = "https://github.com/github"
	insteadOf = "github:github"
	insteadOf = "git://github.com/github"

[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[rerere]
	enabled = true

[pull]
	rebase = true
